:root{
    --color-dark: #000;
    --color-white: #fff;
    --color-light: #ababaa;
    --color-red: #b60b0b;
}

*{
    background-color:   var(--color-dark);
    color:  var(--color-white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 16px;
}

.clock{
    display: flex;
    gap: 50px;
}

.clock span{
    font-size: 180px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.clock span:not(:last-child)::after{
    content: ':';
    margin-bottom: 25px;
    color: var(--color-light);
}

h2 strong{
    color: var(--color-red);
}

@media screen and (max-width: 992px) {
    .clock span{
        font-size: 50px;
    }

    .clock span:not(:last-child)::after{
        display: none;
    }
}